@import './global.css';

/* ------------ navbar ------------ */
.nav {
   width: 100%;
   height: 100px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   z-index: 9997;
   position: absolute;
   top: 0;
   left: 0;
   padding: 0 5%;
   padding-top: 1rem;
}

.nav #brand{
   padding-left: 0;
}

.nav #brand a {
   font-weight: var(--medium);
   transition: all 0.3s ease-out;
}

.nav #menu li {
   display: inline-flex;
   margin-right: 40px;
   transition: all 0.3s ease-out;
}

.nav #menu li:last-child{
   margin: 0;
}

.nav #menu li a{
   font-weight: var(--medium);
}

/* ------------ footer ------------ */
 .footer {
    padding: 10rem 5% 2rem 5%;
 }
 
 .footer__copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: var(--fs-xs);
}
.footer__copyright i {
   display: flex;
   align-items: center;
   justify-content: center;
}