  @import './global.css';

  .sorry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  .sorry p{
    font-family: var(--heading);
  }
  .sorry .btn{
    margin-top: 1rem;
  }
  
  a, #brand{
    color: white !important;
  }

  button:focus {
    outline: 0;
  }
  

  .snake-game-wrapper {
    min-height: 100vh;
    overflow-x: hidden;
    color: #6e7888;
    background-color: #222738;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6e7888;
  }
  .snake-game-wrapper .snake-game canvas {
    background-color: #181825;
  }
  .snake-game-wrapper .snake-game {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .snake-game-wrapper #ui {
    display: flex;
    align-items: center;
    font-size: 10px;
    flex-flow: column;
    margin-left: 10px;
  }
  .snake-game-wrapper h2 {
    font-weight: 200;
    /* transform: rotate(270deg); */
  }
  .snake-game-wrapper #score {
    /* margin-top: 20px; */
    font-size: 30px;
    font-weight: 800;
  }
  .snake-game-wrapper .noselect {
    user-select: none;
  }
  .snake-game-wrapper  #replay {
    font-size: 10px;
    padding: 10px 20px;
    background: #6e7888;
    border: none;
    color: #222738;
    border-radius: 20px;
    font-weight: 800;
    /* transform: rotate(270deg); */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .snake-game-wrapper #replay:hover {
    background: #a6aab5;
    background: #4cffd7;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .snake-game-wrapper  #replay svg {
    margin-right: 8px;
  }
  @media (max-width: 600px) {
    .snake-game-wrapper #replay {
      margin-bottom: 20px;
    }
    .snake-game-wrapper #replay,
    .snake-game-wrapper  h2 {
      transform: rotate(0deg);
    }
    .snake-game-wrapper #ui {
      flex-flow: row wrap;
      margin-bottom: 20px;
    }
    .snake-game-wrapper #score {
      margin-top: 0;
      margin-left: 20px;
    }
    .snake-game-wrapper .snake-game {
      flex-flow: column wrap;
    }
  }
  .snake-game-wrapper  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  header {
    display: none;
  }
  .snake-game-wrapper{
    display: none;
  }
  @media only screen and (min-width: 64em){
    .snake-game-wrapper{
      display: flex;
    }
    .sorry{
      display: none;
    }
    header {
      display: block;
    }
  }