@import './global.css';

ol, ul {
   padding: 0;
}

#noise {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100vw;
   mix-blend-mode: exclusion;
   opacity: 0.5;
   pointer-events: none;
}

#noise .noise {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
   width: 100vw;
   height: 100vh;
   background-position: 50%;
   background-repeat: repeat;
   background-image: url(/assets/img/noise.gif);
}

#cursor, .hover-reveal {
   pointer-events: none;
}
#cursor {
   position: fixed;
   left: 0%;
   top: 0%;
   right: 0%;
   bottom: 0%;
   z-index: 9;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}
#cursor .cursor__pointer {
   position: relative;
   z-index: 99;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background-color: var(--interactive02);
}
@media(max-width: 64em){
   #cursor{
      display: none;
   }
}

/*--------------- hero ---------------*/
.hero{
   /* height: 100vh; */
   display: flex;
   align-items: center;
   flex-direction: column;
}
.hero__wrapper{
   position: relative;
   display: flex;
   align-items: center;
   /* justify-content: center; */
   width: 100%;
   height: 100%;
   padding-top: 2rem;
   /* min-height: 28rem; */
   /* height: 80%; */
}

.hero__contentWrapper{
   margin: 0 5%;
   padding-top: 3.5rem;
   z-index: 2;
   align-items: flex-start;
   display: flex;
   flex-direction: column;
   position: relative;
   max-width: 44rem;
}
@media (min-width: 48em){
   .hero__contentWrapper{
      height: 26rem;
   }
}
.hero__title{
   font-family: var(--heading);
   font-size: var(--fs-m);
   line-height: 130%;
   font-weight: var(--regular);
}
@media (min-width: 36em){
   .hero__title{
      font-size: var(--fs-ml);
      line-height: 120%;
   }
}
@media (min-width: 80em){
   .hero__title{
      font-size: var(--fs-xl);
      line-height: 120%;
   }
}
.hero__contentWrapper h2{
   white-space: pre-line;
   font-size: var(--fs-sm);
}
@media (min-width: 36em){
   .hero__contentWrapper h2{
      font-size: var(--fs-m);
   }
}