@import './global.css';

/*--------------- hero ---------------*/
.hero{
   height: 100vh;
}
.hero__wrapper{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   min-height: 28rem;
   height: 80%;
}

.hero__bgImage{
   height: 100%;
   width: 100%;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 1;
   pointer-events: none;
}

.hero__contentWrapper{
   margin: 0 5%;
   padding-top: 3.5rem;
   z-index: 2;
   align-items: flex-start;
   display: flex;
   flex-direction: column;
   position: relative;
}
@media (min-width: 48em){
   .hero__contentWrapper{
      height: 26rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
}
@media (min-width: 80em){
   .hero__contentWrapper{
      width: calc(83.33333vw - 5rem);
      max-width: 74.792rem;
      margin: 0 auto;
   }
}
.hero__title{
   font-family: var(--heading);
   font-size: var(--fs-ml);
   line-height: 130%;
   text-align: center;
   font-weight: var(--regular);
   max-width: 45rem;
}
@media (min-width: 36em){
   .hero__title{
      font-size: var(--fs-l);
      line-height: 120%;
   }
}
@media (min-width: 80em){
   .hero__title{
      font-size: var(--fs-xl);
      line-height: 120%;
   }
}
@media (min-width: 120em){
   .hero__title{
      font-size: var(--fs-display);
      line-height: 120%;
   }
}
/*--------------- circular text scroll ---------------*/
.circular-wrapper{
   position: relative; 
   z-index: 9997;
   /* transform: translate(0, -50%); */
   margin-top: -90px;
   padding-bottom: 1rem;
   /* height: 42vh; */
   overflow: hidden;
}

.circular-text{
   position: static;
   top: 23%;
   left: 50%;
   /* transform: translate(-50%, -50%); */
   transition: 0.5s ease-out;
}

#rotated{
   color: var(--ui-400);
}

.arrow {
   position: absolute;
   top: 48%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 9999;
}

.circular-wrapper ion-icon{
   font-size: var(--fs-ml);
   color: var(--ui-500);
}


/*--------------- progress bar ---------------*/
.progressbar {
   position: fixed;
   top: 0;
   left: 85%;
   background: rgba(255, 255, 255, 0.4);
   width: 1px;
   z-index: 1;
}


/*--------------- carousel ---------------*/
.carousel{
   /* height: 16.273rem; */
   height: 80vh;
}
@media (min-width: 90em){
   .carousel{
      height: 95vh;
   }
}
.carousel-inner {
   position: relative;
   width: 100%;
   overflow: hidden;
   height: 100%;
}
.carousel-item{
   height: 100%;
   transition: transform 2s ease, opacity 1s ease-in-out;
   animation: fadeIn 4s;
}

 @keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }
 
 @-moz-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }
 
 @-webkit-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }
 
 @-o-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}
.carousel-item img{
   filter: brightness(0.3);
}
.carousel-item img{
   height: 80vh !important;
   width: auto;
}
@media (min-width: 48em){
   .carousel-item img{
      height: auto !important;
      width: 100% !important;
   }
}
.carousel-item .btn{
   border: 2px solid var(--ui-50);
   font-weight: var(--medium);
   background-color: rgba(0,0,0, 0.5);
   color: var(--ui-0);
   width: 100%;
   margin-top: 1rem;
}
@media (min-width: 48em){
   .carousel-item .btn{
      width: unset;
   }
}
.carousel-item .btn:hover{
   background-color: var(--ui-1000);
   color: var(--text02);
}
.carousel-caption{
   top: 0;
   left: 0;
   padding: 0 6%;
   width: 100%;
   height: 100%;
   margin: auto;
   display: flex !important;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;

}
@media (min-width: 48em){
   .carousel-caption{
      left: 15%;
   }
}
.carousel-caption h5{
   font-size: var(--fs-sm);
   font-family: var(--heading);
   text-transform: lowercase;
   text-shadow: 0 0 10px var(--ui-700);
}
.carousel-caption p{
   font-size: var(--fs-xs);
   text-align: left;
   line-height: 20px;
   text-shadow: 0 0 10px black;
   height: 60px;
} 
.carousel-control-prev,
.carousel-control-next{
   display: none;
}
.carousel-indicators {
   margin-bottom: 0.5rem;
}
@media (min-width: 48em){
   .carousel-caption h5{
      font-size: var(--fs-l);
   }
   .carousel-caption p{
      font-size: var(--fs-sm);
      padding-right: 30%;
      line-height: 30px;
   } 
   .carousel-control-prev,
   .carousel-control-next{
      display: block;
   }
   .carousel-indicators{
      display: none;
   }
}

/*--------------- Home Page ---------------*/
.home__partners{
   height: 2rem;
   padding: 0 5%;
}

.home__aboutme{
   display: flex;
   flex-direction: column;
   min-height: 30rem;
}
.home__projects h2{
   color: var(--text02);
   margin-bottom: 1.5rem;
   font-size: var(--fs-xs);
   line-height: 130%;
   text-align: center;
   font-family: var(--heading);
   font-weight: var(--regular);
   text-transform: lowercase;
}
.home__aboutme .image_wrapper {
   height: 20rem;
   margin-bottom: 1rem;
}
.home__aboutme .image_wrapper img{
   -o-object-fit: cover;
   object-fit: cover;
   -o-object-position: 0 -150px;
   object-position: 0 -150px;
}

.home__aboutme p {
   margin-bottom: 2.5rem;
}

/* --------------- about page ------------------*/
/* hero img  */
.animate-container {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--heading);
  overflow: hidden;
}

/* hero img  */

.animate-wrapper-img {
  overflow: hidden;
  position: relative;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 50%;
}

.animate-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: .4s ease;
}
.animate-img:hover{
   filter: grayscale(0);
   transition: .4s ease;
}

.animate-box {
  background: white;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

/* header  */

.animate-header {
   position: absolute;
   top: 20%;
   width: 100%;
   padding: 0 6%;
  /* top: 60%;
  left: 28%;
  transform: translate(-50%, -50%); */
}

.animate-header h1 {
  font-size: var(--fs-s);
  margin: 0;
  /* mix-blend-mode: overlay; */
    width: max-content;
}
@media(min-width: 26.563em){
   .animate-header h1 {
      font-size: var(--fs-sm);
   }
   .animate-wrapper-img{
      width: 40%;
   }
}
@media (min-width: 43em){
   .animate-header h1 {
      font-size: var(--fs-m);
  }
  .animate-wrapper-img{
      width: 30%;
   }  
}
@media (min-width: 62em){
   .animate-header h1 {
      font-size: var(--fs-ml);
   }
   .animate-header {
      top: 25%;
   }
}
@media (min-width: 90em){
   .animate-header h1 {
      font-size: var(--fs-l);
  }
}
@media (min-width:120em){
   .animate-header {
      top: 28%;
  }
  .animate-header h1 {
   font-size: var(--fs-display);
}
}



 .hero-container-animate .animate-projects {
   position: absolute;
   padding: 0 6%;
   left: 0;
   font-family: var(--text);
   transform: translate(0%, 25%);
   width: 100%;
 }

 .hero-container-animate .animate-projects span{
   margin-bottom: 1rem;
 }
 .hero-container-animate .animate-projects .btn {
   margin-top: 1.5rem;
   color: var(--text01);
   border-color: var(--ui-700);
   width: 100%;
 }
 .hero-container-animate .animate-projects .btn:hover{
    background-color: var(--ui-1000);
    color: var(--text02);
 }

 @media (min-width: 48em){
   .hero-container-animate{
      position: relative;
   }
   .hero-container-animate .animate-projects[style] {
      left: 0 !important;
      bottom: 55px;
      transform: translate(0%, 0%) !important;
      width: unset;
   }
   .hero-container-animate .animate-projects .btn {
      width: unset;
    }
}
/*--------------- Projects tiles ---------------*/
.projects-wrapper{
   display: grid;
   grid-template-columns: 1fr;
   margin-bottom: 2.5rem;
   /* pointer-events: none; */
}
@media (min-width: 30em){
   .projects-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
   }
}
@media (min-width: 62em){
   .projects-wrapper{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
   }
}
@media (min-width: 80em){
   .projects-wrapper{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   }
}
@media (min-width: 120em){
   .projects-wrapper{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
   }
}
.card{
   width: 100%;
   display: block;
   margin-bottom: 3rem;
}
.card:last-child{
   margin-bottom: 0;
}

.card .image_wrapper {
   height: 12rem;
   margin-bottom: 0.5rem;
}

.card h3 {
   color: var(--text02);
   font-size: var(--fs-s);
   font-family: var(--heading);
   margin-bottom: 0.25rem;
   font-weight: var(--regular);
   text-transform: lowercase;
}
.card span{
   font-size: var(--fs-xxs);
   color: var(--text03);
   text-transform: uppercase;
}
.card.dark h3, .card.dark span{
   color: var(--text01);
}


/*--------------- template project page ---------------*/
.project__wrapper {
   max-width: 60rem;
   margin: 0 auto;
}
.project__headerWrapper{
   margin-bottom: 4rem;
}
.project__headerContent{
   margin-bottom: 1.5rem; 
}
.project__headerTitle{
   font-size: var(--fs-ml);
}
.project__contentTitle{
   font-size: var(--fs-m);
   margin-bottom: 0.5rem;
}
.project__contentText{
   font-size: var(--fs-sm);
}
.project__headerDate{
   font-size: var(--fs-sm);
}

.project__section{
   padding: 1rem 1.25rem;
   min-height: 3.125rem;
   border-left: 2px solid var(--ui-1000);
}

/*--- hr ---*/
.separator {
   margin: 100px auto;
   border: 0;
}
.separator--dots {
   overflow: visible;
   border: 0;
   content: "";
   background-color: #222;
   display: block;
   height: 6px;
   width: 6px;
   border-radius: 50%;
   position: relative;
}
.separator--dots:before {
   content: "";
   background-color: #222;
   display: block;
   height: 6px;
   width: 6px;
   border-radius: 50%;
   position: absolute;
   left: -42px;
}
.separator--dots:after {
   content: "";
   background-color: #222;
   display: block;
   height: 6px;
   width: 6px;
   border-radius: 50%;
   position: absolute;
   left: 42px;
}
/* .project__headerImage.header__image-container{
   height: 15rem;
}
@media (min-width: 48em) {
   .project__headerImage.header__image-container{
      height: 30rem;
   }
} */

/* @media (min-width: 48.938em) {
   .project__headerImage{
      align-items: center;
   }
} */


.case-study-block{
   max-width: 900px;
   margin: 0 auto;
}

.case-study-block article{
   margin-bottom: 50px;
}

.hero-project-details h2{
   font-weight: 500;
   font-size: 30px;
   margin-bottom: 40px;
}

.hero-project-details p{
   border-left: 2px solid #222;
   padding-left: 20px;
   padding-bottom: 10px;
   margin-bottom: 40px;
}

.hero-project-details article{
   margin-top: 60px;
}

.hero-project-details .challenge-section article>div:first-child{
   margin-bottom: 60px;
}

.hero-project-details h4{
   font-weight: 500;
   font-size: 20px;
   margin-bottom: 20px;
}

.hero-project-details ul li{
   margin: 15px 0;
   display: flex;
}


.hero-project-details .problems>li::before{
   content: '✕';
   margin-right: 1%;
   font-size: 20px;
   color: #ec6464;
   margin-top: -1px;
}

.hero-project-details .solutions>li::before{
   content: '〇';
   margin-right: 1%;
   font-size: 20px;
   color: #4eb857;
   margin-top: -1px;
}

.list li::before{
   content: "•";
   margin-right: 10px;
   font-size: 26px;
   color:rgb(95, 95, 95);
   margin-top: -7px;
}

.two-columns{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}

.two-columns>div{
   width: 330px;
   margin-bottom: 1rem;
}

.process-section{
   margin-bottom: 90px;
}

.process-section figure, .ux-process figure{
   height: auto;
   overflow: hidden;
   margin-bottom: 40px;
}

.process-section figure img, .process-section figure video, .ux-process figure img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}




/*--------------- Photography PAGE ---------------*/
.slider {
   width: 100%;
   height: 100vh;
   position: relative;
   text-transform: uppercase !important;
}

@media screen and (min-width: 53em) {
   .slider {
       height: 100vh;
   }
}

.slider .rgbKineticSlider {
   display: block;
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
   background-color: var(--ui-1000);
}

.slider canvas {
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   height: 50% !important;;
}

.slider nav a {
   text-decoration: none;
   position: absolute;
   top: 46vh;
   z-index: 1;
   padding: 20px;
   transition: 0.3s;
   background: var(--ui-1000);
   color: var(--text02);
}

.slider nav a:hover{
   background: var(--ui-900);
}

.slider nav a.next {
   right: 10vw;
}

.slider nav a.prev {
   left: 10vw;
}

@media screen and (max-width: 53em) {
   .slider nav a {
       top: auto;
       bottom: 3rem;
   }
}

/*--------------- links ---------------*/

.links{
   border-bottom: 2px solid var(--interactive01);
   font-weight: 500;
   transition: .3s ease-in-out;
}

.links:hover{
   color: var(--interactive01);
   font-weight: 500;
}


/*--- page ---*/

/* .container-block{
   padding: 30px 5% 30px 5%;
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
}

.container-block-projects{
   padding: 30px 0;
   max-width: 1440px;
   margin: 0 auto;
   width: 100%;
} */
