@import './global.css';

/*--------------- hero ---------------*/
.hero{
   height: 100vh;
}
.hero__wrapper{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   min-height: 28rem;
   height: 80%;
}

.hero__bgImage{
   height: 100%;
   width: 100%;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 1;
   pointer-events: none;
}

.hero__contentWrapper{
   margin: 0 5%;
   padding-top: 3.5rem;
   z-index: 2;
   align-items: flex-start;
   display: flex;
   flex-direction: column;
   position: relative;
}
@media (min-width: 48em){
   .hero__contentWrapper{
      height: 26rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
}
@media (min-width: 80em){
   .hero__contentWrapper{
      width: calc(83.33333vw - 5rem);
      max-width: 74.792rem;
      margin: 0 auto;
   }
}
.hero__title{
   font-family: var(--heading);
   font-size: var(--fs-ml);
   line-height: 130%;
   text-align: center;
   font-weight: var(--regular);
   max-width: 45rem;
}
@media (min-width: 36em){
   .hero__title{
      font-size: var(--fs-l);
      line-height: 120%;
   }
}
@media (min-width: 80em){
   .hero__title{
      font-size: var(--fs-xl);
      line-height: 120%;
   }
}
@media (min-width: 120em){
   .hero__title{
      font-size: var(--fs-display);
      line-height: 120%;
   }
}
/*--------------- circular text scroll ---------------*/
.circular-wrapper{
   position: relative; 
   z-index: 9997;
   /* transform: translate(0, -50%); */
   margin-top: -90px;
   padding-bottom: 1rem;
   /* height: 42vh; */
   overflow: hidden;
}

.circular-text{
   position: static;
   top: 23%;
   left: 50%;
   /* transform: translate(-50%, -50%); */
   transition: 0.5s ease-out;
}

#rotated{
   color: var(--ui-400);
}

.arrow {
   position: absolute;
   top: 48%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 9999;
}

.circular-wrapper ion-icon{
   font-size: var(--fs-ml);
   color: var(--ui-500);
}


/*--------------- progress bar ---------------*/
.progressbar {
   position: fixed;
   top: 0;
   left: 85%;
   background: rgba(255, 255, 255, 0.4);
   width: 1px;
   z-index: 1;
}


/*--------------- carousel ---------------*/
.carousel{
   height: 95vh;
}
.carousel-inner {
   position: relative;
   width: 100%;
   overflow: hidden;
   height: 100%;
}
.carousel-item{
   height: 100%;
   transition: transform 2s ease, opacity 1s ease-in-out;
   animation: fadeIn 4s;
}

 @keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }
 
 @-moz-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }
 
 @-webkit-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }
 
 @-o-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}
.carousel-item img{
   filter: brightness(0.5);
}
.carousel-item .btn{
   margin-top: 1rem;
   border: 2px solid var(--ui-50);
   font-weight: var(--bold);
   background-color: rgba(0,0,0, 0.4);
}
.carousel-caption{
   top: 0;
   left: 15%;
   width: 100%;
   height: 100%;
   display: flex !important;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}
.carousel-caption h5{
   font-size: var(--fs-l);
   font-family: var(--heading);
   text-transform: lowercase;
   text-shadow: 0 0 10px var(--ui-700);
}
.carousel-caption p{
   font-size: var(--fs-sm);
}

/* ------------- playground ---------------*/
#blotter{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-auto-rows: 12rem;
   overflow: hidden;
   align-items: center;
}
@media (min-width: 48em){
   #blotter{
      grid-template-columns: repeat(3, 1fr);
   }
}
@media (min-width: 64em){
   #blotter{
      grid-template-columns: repeat(4, 1fr);
   }
}
@media (min-width: 120em){
   #blotter{
      grid-template-columns: repeat(5, 1fr);
   }
}
#blotter div{
   display: inline-grid;
   align-items: center;
   justify-content: center;
}
#blotter canvas{
   width: auto !important;
   height: 12rem !important;
}

/*text reveal on hover*/
.text-reveal {
   font-size: 50px;
   font-family: georgia;
   cursor: pointer;
 }
 
 #test {
   background: linear-gradient(#33354B, #33354B) left no-repeat, #D1D2DE;
   background-size: 0% 100%;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition: 1s ease-in-out;
 }
 
 #test:hover {
   background-size: 100% 100%;
 }

 /* text transform */
 #transform-text {
   position: relative;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   filter: url(#threshold) blur(0.6px);
}

#transform-text1,
#transform-text2 {
   position: absolute;
   font-family: "Raleway", sans-serif;
   font-size: 4rem;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   text-align: center;
}

/*--------------- Home Page ---------------*/
.home__partners{
   height: 2rem;
   padding: 0 5%;
}

.home__aboutme{
   display: flex;
   flex-direction: column;
   min-height: 30rem;
}
.home__projects h2{
   color: var(--text02);
   margin-bottom: 1.5rem;
   font-size: var(--fs-xs);
   line-height: 130%;
   text-align: center;
   font-family: var(--heading);
   font-weight: var(--regular);
   text-transform: lowercase;
}
.home__aboutme .image_wrapper {
   height: 20rem;
   margin-bottom: 1rem;
}
.home__aboutme .image_wrapper img{
   -o-object-fit: cover;
   object-fit: cover;
   -o-object-position: 0 -150px;
   object-position: 0 -150px;
}

.home__aboutme p {
   margin-bottom: 2.5rem;
}
/*--------------- Projects tiles ---------------*/
.projects-wrapper{
   display: grid;
   grid-template-columns: 1fr;
   margin-bottom: 2.5rem;
   /* pointer-events: none; */
}
@media (min-width: 30em){
   .projects-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
   }
}
@media (min-width: 62em){
   .projects-wrapper{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
   }
}
@media (min-width: 80em){
   .projects-wrapper{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   }
}
@media (min-width: 120em){
   .projects-wrapper{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
   }
}
.card{
   width: 100%;
   display: block;
   margin-bottom: 2rem;
}
.card:last-child{
   margin-bottom: 0;
}

.card .image_wrapper {
   height: 12rem;
   margin-bottom: 1rem;
}

.card h3 {
   color: var(--text02);
   font-size: var(--fs-s);
   font-family: var(--heading);
   margin-bottom: 0.25rem;
   font-weight: var(--regular);
   text-transform: lowercase;
}
.card span{
   font-size: var(--fs-xxs);
   color: var(--text03);
   text-transform: uppercase;
}
.card.dark h3, .card.dark span{
   color: var(--text01);
}

 /*--------------- Projects list ---------------*/
.navigation-container {
 margin: 0;
 padding: 0;
 background: var(--ui-900);
 color: var(--text02);
 overflow: hidden;
}

::-webkit-scrollbar {
 width: 0;
}
 .navigation-wrapper ul {
   list-style: none;
   padding: 6rem 5%;
 }
 
 .navigation-wrapper .navigation-item {
   display: block;
   user-select: none;
   margin: 12rem 0;
 }
 
 .navigation-wrapper span {
   position: relative;
   display: block;
 }
 .navigation-wrapper .title{
   font-family: var(--heading);
   text-transform: uppercase;
   font-size: var(--fs-xl);
   color: var(--text04);
   overflow: hidden;
   background: linear-gradient(to right, var(--ui-0), var(--ui-0) 50%, var(--ui-600) 50%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-size: 200% 100%;
   background-position: 100%;
   transition: background-position 0.55s ease-in-out;
   text-decoration: none; 
 }
 .navigation-wrapper .title:hover{
   background-position: 0 100%;
 }

 .navigation-wrapper .tags{
   display: flex;
   flex-wrap: wrap;
   text-transform: uppercase;
   margin-bottom: 2rem;
   font-size: var(--fs-xs);
   font-family: var(--text);
   color: var(--text04);
 }
 
 .navigation-list hr{
   border: 1px solid var(--ui-600);
 }

 .navigation-wrapper .project-preview-wrapper {
   width: 100%;
   height: 100vh;
   position: fixed;
   display: flex;
   justify-content: center;
 }
 
 .navigation-wrapper .project-preview {
   position: fixed;
   top: 12%;
   left: 50%;
   width: 0px;
   height: 400px;
   background: url(/assets/img/fitmeal-brand.jpg) no-repeat 50% 50%;
   background-size: cover;
   overflow: hidden;
 }
 
 @media (max-width: 900px) {
   .progressbar,
   .navigation-wrapper .project-preview-wrapper {
     display: none;
   }
 
   .navigation-wrapper a {
     font-size: 24px;
   }
 }

/*--------------- template project page ---------------*/
.project__wrapper {
   max-width: 60rem;
   margin: 0 auto;
}
.project__headerWrapper{
   margin-bottom: 4rem;
}
.project__headerContent{
   margin-bottom: 1.5rem; 
}
.project__headerTitle{
   font-size: var(--fs-ml);
}
.project__contentTitle{
   font-size: var(--fs-m);
   margin-bottom: 0.5rem;
}
.project__contentText{
   font-size: var(--fs-sm);
}
.project__headerDate{
   font-size: var(--fs-sm);
}

.project__section{
   padding: 1rem 1.25rem;
   min-height: 3.125rem;
   border-left: 2px solid var(--ui-1000);
}
/* .project__headerImage.header__image-container{
   height: 15rem;
}
@media (min-width: 48em) {
   .project__headerImage.header__image-container{
      height: 30rem;
   }
} */

/* @media (min-width: 48.938em) {
   .project__headerImage{
      align-items: center;
   }
} */


.hero-project-details{
   margin-top: 70px;
   height: 100%;
   padding: 0 10%;
}
/* 509BF5 */

.hero-project-details .hero-project-title{
   margin: 0 0 40px 0;
}

.hero-project-details .hero-project-title span{
   display: flex;
   align-items: center;
   font-size: 24px;
   color: #4ec5ab;
   text-decoration: underline;
   margin-bottom: 20px;
}

.hero-project-details .hero-project-title span ion-icon{
   margin-right: 10px;
}

.hero-project-details .hero-project-title h1{
   font-weight: 500;
   color: #222;
   font-size: 30px;
}

.hero-project-details .hero-project-title h3{
   font-weight: 400;
   color: #222;
   letter-spacing: 0.6px;
   font-size: 20px;
}

.hero-project-details .hero-project-title h5{
   font-weight: 400;
   font-size: 16px;
   margin-top: 10px;
   color:rgb(95, 95, 95);
}

.hero-img{
   width: 100%;
   height: 550px;
   margin: 0 auto 70px auto;
}

.second-img{
   width: 100%;
   margin: 0 auto 70px auto;
   overflow: hidden;
}

.second-img img{
   width: 100%;
   height: 100%;
   object-fit: scale-down;
}

.case-study-block{
   max-width: 900px;
   margin: 0 auto;
}

.case-study-block article{
   margin-bottom: 50px;
}

.hero-project-details h2{
   font-weight: 500;
   font-size: 30px;
   margin-bottom: 40px;
}

.hero-project-details p{
   border-left: 2px solid #222;
   padding-left: 20px;
   padding-bottom: 10px;
   margin-bottom: 40px;
}
/* #4ec5ab */

/* .hero-project-details hr{
   border: 1px solid rgb(228, 228, 228);
} */

/*--- hr ---*/
.separator {
   margin: 100px auto;
   border: 0;
}
.separator--dots {
   overflow: visible;
   border: 0;
   content: "";
   background-color: #222;
   display: block;
   height: 6px;
   width: 6px;
   border-radius: 50%;
   position: relative;
}
.separator--dots:before {
   content: "";
   background-color: #222;
   display: block;
   height: 6px;
   width: 6px;
   border-radius: 50%;
   position: absolute;
   left: -42px;
}
.separator--dots:after {
   content: "";
   background-color: #222;
   display: block;
   height: 6px;
   width: 6px;
   border-radius: 50%;
   position: absolute;
   left: 42px;
}

.hero-project-details article{
   margin-top: 60px;
}

.hero-project-details .challenge-section article>div:first-child{
   margin-bottom: 60px;
}

.hero-project-details h4{
   font-weight: 500;
   font-size: 20px;
   margin-bottom: 20px;
}

.hero-project-details ul li{
   margin: 15px 0;
   display: flex;
}


.hero-project-details .problems>li::before{
   content: '✕';
   margin-right: 1%;
   font-size: 20px;
   color: #ec6464;
   margin-top: -1px;
}

.hero-project-details .solutions>li::before{
   content: '〇';
   margin-right: 1%;
   font-size: 20px;
   color: #4eb857;
   margin-top: -1px;
}

.list li::before{
   content: "•";
   margin-right: 10px;
   font-size: 26px;
   color:rgb(95, 95, 95);
   margin-top: -7px;
}

.two-columns{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}

.two-columns>div{
   width: 330px;
}

.process-section{
   margin-bottom: 90px;
}

.process-section figure,
.ux-process figure{
   height: auto;
   overflow: hidden;
   margin-bottom: 40px;
}

.process-section figure img,
.process-section figure video,
.ux-process figure img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.more-btn{
   text-align: center;
   border: 2px solid var(--interactive01);
   width: 200px;
   font-size: 16px;
   display: flex;
   justify-content: center;
   padding: 10px 15px;
   margin: 0 auto 50px auto;
   color: var(--interactive01);
   transition: .3s ease-in-out;
}

.more-btn:hover{
   border: 2px solid #222;
   background: #222;
   color: #fff;

}

/*--------------- Photography PAGE ---------------*/
.slider {
   width: 100%;
   height: 100vh;
   position: relative;
   text-transform: uppercase !important;
}

@media screen and (min-width: 53em) {
   .slider {
       height: 100vh;
   }
}

.slider .rgbKineticSlider {
   display: block;
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
   background-color: var(--ui-1000);
}

.slider canvas {
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   height: 50% !important;;
}

.slider nav a {
   text-decoration: none;
   position: absolute;
   top: 46vh;
   z-index: 1;
   padding: 20px;
   transition: 0.3s;
   background: var(--ui-1000);
   color: var(--text02);
}

.slider nav a:hover{
   background: var(--ui-900);
}

.slider nav a.next {
   right: 10vw;
}

.slider nav a.prev {
   left: 10vw;
}

@media screen and (max-width: 53em) {
   .slider nav a {
       top: auto;
       bottom: 3rem;
   }
}

/*--------------- links ---------------*/

.links{
   border-bottom: 2px solid var(--interactive01);
   font-weight: 500;
   transition: .3s ease-in-out;
}

.links:hover{
   color: var(--interactive01);
   font-weight: 500;
}


/*--- page ---*/

/* .container-block{
   padding: 30px 5% 30px 5%;
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
}

.container-block-projects{
   padding: 30px 0;
   max-width: 1440px;
   margin: 0 auto;
   width: 100%;
} */

